```txt
streamlit
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
faiss-cpu
sentence-transformers
transformers
torch
huggingface_hub
groq
pypdf
python-dotenv
numpy
pandas
scikit-learn
requests
plotly
```